
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	margin-top: 10px;
	max-width:525px;
	min-height:570px;
	position:relative;
	padding:90px 70px 50px 70px;
	/* background:rgba(40,57,101,.9); */
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}


.btn-Login {
	width: 200px; /* Adjust the width as needed */
	color:  white;
	/* background:rgba(13, 76, 235, 0.9); */
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }


  