.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
   }
   /* styling of Input */
   .input-message {
    color: black;
    font-size: 0.9rem;
    background-color: lightgray;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    border-color: solid black;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }
   /* === if you want to do animated border on typing === */
   /* remove input:focus code and uncomment below code */
   /* input:valid ~ .input-border{
     width: 100%;
   } */

.table-wrapper {
    /* width: 100%; */
    display: blocks;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100em;
    max-width: 80%;
    margin: auto;
    overflow: auto;
 }



 .table-wrapper thead {
    background-color: #ccc;
    color: #222;
 }

 .table-wrapper th,
 .table-wrapper td {
   padding: 0.8rem;
 }

 .table-wrapper td {
   border-top: 0.5px solid #ddd;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .table-wrapper tbody tr:hover {
   background-color: #eee;
 }

.btn {
    background-color: blueviolet;
}

.btn-btn-primary {
    background-color: blueviolet;
color: black;
}

.btn-btn-error {
    background-color: red;
color: black;
}

.btn-btn-update {
    background-color: blueviolet;
color: black;
}

.btn-btn-cancel {
    background-color: lightgray;
color: black;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }