.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .container {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.31);
    padding: 30px 20px;
  }

  .post__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0px 0px 29px 2px rgba(0, 0, 0, 0.31);
    padding: 30px 20px;
  }
  
  .post {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .post input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
  }


  .table-wrapper {
    /* width: 100%; */
    display: blocks;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100em;
    max-width: 80%;
    margin: auto;
    overflow: auto;
 }



 .table-wrapper thead {
    background-color: #ccc;
    color: #222;
 }

 .table-wrapper th,
 .table-wrapper td {
   padding: 0.8rem;
 }

 .table-wrapper td {
   border-top: 0.5px solid #ddd;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .table-wrapper tbody tr:hover {
   background-color: #eee;
 }